---
import { PortableText } from "astro-portabletext";
import { useSanityClient } from "astro-sanity";
import Layout from "@/layouts/Layout.astro";
import PlaceholderImage from "@/components/PlaceholderImage/SanityPlaceholderImage.astro";
import QueHacemosCards from "@/src/modules/Institucional/QueHacemosCards.astro";
// import type { ItemHacemos } from "@/types/interfaces";
import BlockGallery from "@/components/Plugs/BlockGallery.astro";
import YoutubeEmbed from "@/components/Plugs/YoutubeEmbed.astro";
// import PortableText from "@/components/PortableText.astro";


export async function getStaticPaths() {
  const noticias = await useSanityClient().fetch(`*[_type == "quehacemos"]`);
  return noticias.map((post: { slug: { current: any } }) => {
    return {
      params: {
        slug: post.slug?.current || "",
      },
      props: { ...post },
    };
  });
}
const { title, description, body, mainImage } = Astro.props;
---

<Layout title={title}>
  <div
    class="relative flex items-center justify-center h-[400px] overflow-hidden bg-gradient-to-br from-indigo-700 to-blue-700"
  >
    <div
      class="relative z-20 text-center text-white animate__fadeIn animate__animated"
    >
      <h1 class="max-w-6xl mx-auto font-sans text-6xl">{title}</h1>
      <p class="max-w-3xl mx-auto mt-6 font-sans text-2xl">
        {description}
      </p>
    </div>
    <div class="absolute inset-0 z-0 object-cover w-full opacity-20">
      <PlaceholderImage
        customClass="!h-screen"
        title={title}
        width={1820}
        height={1200}
        image={mainImage}
      />
    </div>
  </div>
  <article
    class="w-full max-w-3xl px-2 pb-24 mx-auto mt-12 prose prose-lg"
    id="article"
  >
    <!-- <PortableText portableText={body} /> -->
    <PortableText
      value={body}
      components={{
        type: {
          BlockGallery,
          YoutubeEmbed,
        },
      }}
    />
  </article>
  <aside>
    <h3 class="text-4xl text-center">Que más hacemos</h3>
    <QueHacemosCards />
  </aside>
</Layout>
