---
import { useSanityClient } from "astro-sanity";
import Layout from "@/layouts/Layout.astro";
import PlaceholderImage from "@/components/PlaceholderImage/SanityPlaceholderImage.astro";
import PortableText from "@/components/PortableText/PortableTextCustom.astro";
import type { Recurso } from "@/types/interfaces";
import RecursosCards from "@/modules/Recursos/RecursosCards.astro";


interface Props extends Recurso {}

export async function getStaticPaths() {
  const noticias = await useSanityClient().fetch(`*[_type == "recursos"]`);
  return noticias.map((post: Recurso) => {
    return {
      params: {
        slug: post.slug?.current || "",
      },
      props: { ...post },
    };
  });
}
const { title, description, body, mainImage } = Astro.props as Props;
---

<Layout title={title}>
  <div
    class="min-h-[60vh] bg-gradient-to-br flex justify-center items-center relative overflow-hidden from-pink-600 to-red-600 py-12"
  >
    <div
      class="text-white text-center max-w-3xl px-6 mx-auto relative z-20 animate__fadeIn animate__animated"
    >
      <h1 class="text-5xl md:text-7xl font-hand" style="text-wrap: balance">{title}</h1>
      <p class="mt-6 text-lg md:text-2xl" style="text-wrap: balance">
        {description}
      </p>
    </div>
    <div class="absolute z-0 opacity-10 inset-0 object-cover w-full">
      <PlaceholderImage
        customClass="!h-screen"
        title={title}
        width={1820}
        height={1200}
        image={mainImage}
      />
    </div>
  </div>
  <article
    class="prose prose-lg max-w-3xl w-full px-2 mx-auto pb-24 mt-12"
    id="article"
  >
    <PortableText portableText={body} />
  </article>
  <div class="py-24">
    <h3 class="text-center text-4xl">Más recursos</h3>
    <RecursosCards />
  </div>
</Layout>

<style is:global>
  body[class*="recursos"] #headroom {
    @apply border-b-red-400  border-t-transparent bg-red-100/90 backdrop-blur-lg;
  }

  body[class*="recursos"] #menuOffcanvas {
    @apply ring-red-400;
  }

  body[class*="recursos"] .prose a {
    line-break: anywhere;
  }
</style>
