---
import { useSanityClient } from "astro-sanity";
import type { ItemHacemos } from "@/types/interfaces";
import { urlForImage } from "@/lib/urlForImage";

const QUE_HACEMOS_HIGHLIGHT = await useSanityClient().fetch(
  `*[_type == "quehacemos"  && highlight == true] | order(title asc)`
);

const QUE_HACEMOS = await useSanityClient().fetch(
  `*[_type == "quehacemos"  && highlight == false] | order(title asc)`
);
---

<div
  id="que-hacemos"
  class="relative flex-col gap-12 flex items-center justify-center w-full overflow-hidden"
>
  <div class="bg-blue-200 z-10 w-full">
    <div
      class="relative z-10 grid p-12 w-full gap-8 px-8 md:px-20 mx-auto QueHacemosGrid max-w-screen-2xl sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4"
    >
      {
        QUE_HACEMOS_HIGHLIGHT.map((post: ItemHacemos) => (
          <div class="relative flex flex-col items-center justify-start pb-4 overflow-hidden duration-300 bg-white rounded-lg shadow item  group hover:shadow-lg">
            <div class="flex flex-col relative mb-3 items-center justify-center w-full overflow-hidden h-44">
              <img
                class="object-cover w-full group-hover:scale-105 h-44 duration-300 z-0"
                src={urlForImage(post.mainImage).width(300).height(200).url()}
                alt=""
              />
              <h3 class="w-full absolute bottom-0 left-0  right-0 !flex justify-start items-end h-20 z-10 text-xl line-clamp-2 p-4 font-sans font-bold text-left text-blue-100 ">
                {post.title}
              </h3>
              <div class="absolute inset-0 bg-gradient-to-b from-transparent via-40% via-indigo-900/50 to-indigo-950 z-0" />
            </div>
            <p class="w-full px-4 line-clamp-3 mb-4">{post.description}</p>
            <div class="flex justify-start w-full px-4">
              <a
                aria-label={`Conoce más en la sección de ${post.title}`}
                href={`/que-hacemos/${post.slug?.current}`}
                class="underline text-blue-600 underline-offset-2"
              >
                Conoce más
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div class="relative">
    <h2
      class="relative z-20 font-hand text-center max-w-screen-2xl mx-auto w-full text-4xl px-6 text-gray-900 md:text-6xl"
    >
      Más acciones
    </h2>
    <svg
      class="absolute top-12 z-10 opacity-30 rotate-2"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 369.943 52.38"
      ><path
        fill="none"
        class="stroke-indigo-900 "
        stroke-dasharray="1.5 8"
        stroke-linecap="round"
        stroke-width="2.5"
        d="M11.523 23.534c57.9-1.92 290.27-11.51 348.42-13.53m-348.77 23.37c57.86-2.47 287.48-12.43 345.81-14.67m-346.98 23.68c57.68-1.92 287.25-10.61 344.69-12.02"
      ></path></svg
    >
  </div>
  <div
    class="relative z-10 grid w-full gap-8 px-8 mx-auto QueHacemosGrid max-w-6xl pt-6 pb-24 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      QUE_HACEMOS.map((post: ItemHacemos) => (
        <div class="relative flex flex-col items-center justify-start pb-4 overflow-hidden duration-300 bg-white rounded-lg shadow item  group hover:shadow-lg">
          <div class="flex flex-col relative items-center justify-center w-full overflow-hidden h-44">
            <img
              class="object-cover w-full group-hover:scale-105 h-44 duration-300 z-0"
              src={urlForImage(post.mainImage).width(300).height(200).url()}
              alt=""
            />
          </div>
          <h3 class="w-full flex justify-start items-end z-10 text-base p-4 font-sans font-bold text-left ">
            {post.title}
          </h3>
          <p class="w-full px-4 line-clamp-3">{post.description}</p>
          <div class="flex justify-start w-full p-4">
            <a
              href={`/que-hacemos/${post.slug?.current}`}
              aria-label={`Conoce más en la sección de ${post.title}`}
              class="underline text-yellow-600 underline-offset-2"
            >
              Conoce más
            </a>
          </div>
        </div>
      ))
    }
  </div>
  <div
    class="absolute inset-0 z-0 bg-gradient-to-br from-white to-gray-300 opacity-90"
  >
  </div>
</div>
