---
import { Image } from "@astrojs/image/components";
const { images } = Astro.props;
---

<div class="w-full max-w-4xl mx-auto">
  <div
    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff; --swiper-pagination-bullet-width: 16px; --swiper-pagination-bullet-height: 16px;"
    class="swiper mySwiper2"
  >
    <div class="swiper-wrapper">
      {
        images.map((i: any) => {
          return (
            <a class="swiper-slide glightbox" href={i}>
              <Image
                alt={i}
                src={i}
                width={1600}
                height={1280}
                class="object-cover w-full h-96"
                format="webp"
              />
            </a>
          );
        })
      }
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div thumbsSlider="" class="mt-3 swiper mySwiper">
    <div class="swiper-wrapper">
      {
        images.map((i: any) => {
          return (
            <div class="cursor-pointer swiper-slide hover:opacity-60">
              <Image
                alt={i}
                src={i}
                width={1600}
                height={1280}
                class="object-cover w-full h-32"
                format="webp"
              />
            </div>
          );
        })
      }
    </div>
  </div>
</div>

<!-- Initialize Swiper -->
<script>
  //@ts-ignore
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 10,
    slidesPerView: 3,
    freeMode: true,
    watchSlidesProgress: true,
  });
  //@ts-ignore
  var swiper2 = new Swiper(".mySwiper2", {
    spaceBetween: 10,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiper,
    },
  });
</script>

<style>
  .swiper {
    @apply w-full select-none;
  }
</style>
