---
const props = Astro.props;
import PlugGallery from "@/components/PortableText/PlugGallery.astro";
import PlugGalleryFour from "@/components/PortableText/PlugGalleryFour.astro";
import PortableText from "@/components/PortableText/PortableTextCustom.astro";
import PlugHero from "./PlugHero.astro";
import slugify from "@/lib/createSlug";
---

<section class="mx-auto w-full max-w-full">
  {
    props.content.map((c: any) => {
      let el = null;
      switch (c._type) {
        case "BlockGallery":
          el = (
            <div id={slugify(c.heading)}>
              <PlugGallery images={c} />
            </div>
          );
          break;
        case "PlugBlockeditor":
          el = (
            <div
              id={slugify(c.heading)}
              class="PlugBlockeditor prose prose-xl max-w-4xl mx-auto px-6 py-12"
            >
              <PortableText portableText={c.body} />
            </div>
          );
          break;
        case "PlugBlockeditorHero":
          el = <PlugHero content={c} />;
          break;
        case "PlugBlockeditorGrillaDoble":
          el = (
            <div
              id={slugify(c.heading)}
              class="PlugBlockeditorGrillaDoble pattern-grid-lg text-gray-900/5 bg-fixed md:min-h-screen p-6 md:gap-6 flex md:flex-row flex-col"
            >
              <div class="item-pointer text-gray-900 w-full relative flex flex-col justify-start items-start">
                <div class=" sticky top-36 w-full py-6 bg-white shadow-md">
                  <h2 class="md:text-5xl text-3xl font-hand p-3 md:px-12 md:pt-6">
                    {c.heading}
                  </h2>
                  <PortableText portableText={c.body} />
                </div>
              </div>
              <div class="relative pr-1 w-full">
                <PlugGalleryFour images={c} />
              </div>
            </div>
          );
          break;
        default:
          el = null;
      }
      return el;
    })
  }
</section>

<style>
  #faq {
    @apply max-w-full bg-indigo-100;
  }
</style>
