---
const props = Astro.props;
import PlugGallery from "@/components/PortableText/PlugGallery.astro";
import PlugGalleryFour from "@/components/PortableText/PlugGalleryFour.astro";
import PortableText from "@/components/PortableText/PortableTextCustom.astro";
import PlugHero from "./PlugHero.astro";
import slugify from "@/lib/createSlug";
---

<section class="mx-auto w-full max-w-full">
  {
    props.content.map((c: any) => {
      let el = null;
      switch (c._type) {
        case "BlockGallery":
          el = (
            <div id={slugify(c.heading)}>
              <PlugGallery images={c} />
            </div>
          );
          break;
        case "PlugBlockeditor":
          el = (
            <div class="PlugBlockeditor prose prose-xl max-w-4xl mx-auto py-12">
              <PortableText portableText={c.body} />
            </div>
          );
          break;
        case "PlugBlockeditorHero":
          el = <PlugHero content={c} />;
          break;
        case "PlugBlockeditorGrillaDoble":
          el = (
            <div
              id={slugify(c.heading)}
              class="PlugBlockeditorGrillaDoble  flex md:flex-row flex-col"
            >
              <div class="w-full flex flex-col justify-start items-start">
                <div class=" sticky top-20 pt-6">
                  <h2 class="text-2xl font-bold p-3 md:px-12 md:py-0">
                    {c.heading}
                  </h2>
                  <PortableText portableText={c.body} />
                </div>
              </div>
              <div class="relative overflow-hidden w-full">
                <PlugGalleryFour images={c} />
              </div>
            </div>
          );
          break;
        default:
          el = null;
      }
      return el;
    })
  }
</section>
