---
import { useSanityClient } from "astro-sanity";
import type { ItemHacemos } from "@/types/interfaces";
import { urlForImage } from "@/lib/urlForImage";

const QUE_HACEMOS = await useSanityClient().fetch(
  `*[_type == "quehacemos"  && highlight == true] | order(title desc)`
);

---

<div
  class="relative z-10 flex flex-col items-center justify-center gap-12 overflow-hidden border-b-4 border-white bg-gradient-to-br from-emerald-50 to-teal-50"
>
  <h2
    class="z-10 pt-24 font-hand text-5xl md:text-7xl text-blue-900 intersectionAnimation"
  >
    Qué hacemos
  </h2>
  <p
    class="relative z-20 max-w-6xl px-6 mx-auto font-sans text-2xl text-center text-blue-800"
  >
    Nos enfocamos en diversas iniciativas y actividades. <br /> Algunas de nuestras
    principales áreas de acción
  </p>
  <a href="/que-hacemos" class="relative z-20 btn green"> Conocer más</a>
  <div class="relative z-50 pb-24">
    <div
      class="relative z-10 grid w-full gap-8 px-3 mx-auto QueHacemosGrid max-w-7xl sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4"
    >
      {
        QUE_HACEMOS.map((post: ItemHacemos) => (
          <div class="relative flex flex-col items-center justify-start pb-4 overflow-hidden duration-300 bg-white rounded-lg shadow item animate__fadeIn animate__animated animate__slower group hover:shadow-lg">
            <h3 class="flex flex-col relative items-center justify-center w-full overflow-hidden h-44">
              <img
                class="object-cover w-full group-hover:scale-105 h-44 duration-300 z-0"
                src={urlForImage(post.mainImage).width(300).height(200).url()}
                alt={post.title}
              />
              <p class="w-full absolute bottom-0 left-0  right-0 !flex justify-start items-end h-20 z-10 text-xl line-clamp-2 p-4 font-sans font-bold text-left text-blue-100 group-hover:underline underline-offset-2">
                <a href={`/que-hacemos/${post.slug?.current}`}>{post.title}</a>
              </p>
              <div class="absolute inset-0 bg-gradient-to-b from-transparent via-40% via-indigo-900/50 to-indigo-950 z-0" />
            </h3>
            <p class="w-full p-4 line-clamp-3 h-20 mb-4">{post.description}</p>
            <div class="flex justify-start w-full px-4">
              <a
                href={`/que-hacemos/${post.slug?.current}`}
                class="underline text-blue-600 underline-offset-2"
              >
                Conoce más
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <!-- <div class="absolute inset-0 z-0 opacity-90">
    <div class="absolute inset-0">
      <GrainOne />
    </div>
    <div class="absolute inset-0 opacity-30 mix-blend-multiply">
      <WaveScene />
    </div>
  </div> -->
</div>

<style>
  .QueHacemosGrid .item:nth-child(1) {
    animation-delay: 0.1s;
  }
  .QueHacemosGrid .item:nth-child(2) {
    animation-delay: 0.2s;
  }
  .QueHacemosGrid .item:nth-child(3) {
    animation-delay: 0.3s;
  }
  .QueHacemosGrid .item:nth-child(4) {
    animation-delay: 0.4s;
  }
  .QueHacemosGrid .item:nth-child(5) {
    animation-delay: 0.5s;
  }
  .QueHacemosGrid .item:nth-child(6) {
    animation-delay: 0.6s;
  }
  .QueHacemosGrid .item:nth-child(7) {
    animation-delay: 0.7s;
  }
  .QueHacemosGrid .item:nth-child(8) {
    animation-delay: 0.8s;
  }
</style>
